@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameboard {
  margin: 4rem auto;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: black;
  cursor: pointer;
}

.gameboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  line-height: 0rem;
  background-color: white;
}

.input {
  margin: 2rem auto;
}

.controls {
  background-color: rgba(31, 121, 255, 0.849);
  padding: 1rem 3rem;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
}

.controls:hover {
  background-color: white;
  color: #1f79ffd8;
  border: 2px solid #1f79ffd8;
}
